<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ template "_internal/opengraph.html" . }}
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#262d33">
  <title>
    {{ if .IsHome }}
    {{ .Site.Title }} {{ if .Site.Params.subtitle }} - {{ .Site.Params.subtitle }} {{ end }}
    {{ else }}
    {{ .Title }} - {{ .Site.Title }}
    {{ end }}
  </title>
  <link rel="icon" href="/favicon.ico?v=2">
  {{ $hash := now.Unix }}
  {{ $options := (dict "targetPath" (printf `minima.%d.css` $hash) "outputStyle" "compressed" "enableSourceMap" true) }}
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  {{ $options = (dict "targetPath" (printf `minima.%d.js` $hash) "minify" true) }}
  {{ $js := resources.Get "js/main.js" | js.Build $options | resources.ExecuteAsTemplate (printf `minima.%d.js` $hash) . }}
  <script defer type="text/javascript" src="{{ $js.RelPermalink }}"></script>

  <link rel="alternate" type="application/rss+xml" href="/feed.xml"/>
</head>