{{ define "main" }}
	<main>
		<h2 class="mt-8 mb-1">{{ .Site.Params.iam }} {{ .Site.Author.name }}</h2>
		<p class="my-0">{{ .Site.Author.slogon }}</p>
		<p class="my-3 home-intro">{{ .Site.Author.description | markdownify | safeHTML }}</p>
		<h3 class="my-6">
			Latest Updates
			<span class="home-header-links">(<a href="/update">see all</a>)</span>
		</h3>
		<div>
			{{ range first 3 (where .Site.RegularPages "Type" "update").ByLastmod.Reverse }}
			{{ partial "list.html" . }}
			{{ end }}
		</div>
		<h3 class="my-6">
			{{ .Site.Params.recent }}
			<span class="home-header-links">(<a href="/note">see all</a>)</span>
		</h3>
		<div>
			{{ range first 10 (where .Site.RegularPages "Type" "!=" "update").ByLastmod.Reverse }}
			{{ partial "list.html" . }}
			{{ end }}
		</div>
		{{ if .Site.Params.friends.feeds }}
		<h3 class="my-6">{{ .Site.Params.friends.title }}</h3>
		<div id="friends"></div>
		{{ end }}
	</main>
{{ end }}